[Unit]
Description=PiClipse Video and Image Capture

[Service]
ExecStart=/opt/piclipse/piclipse.py /opt/piclipse-data
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=piclipse.service
