[Unit]
Description=Pinoc Video and Image Capture

[Service]
ExecStart=/opt/pinoc/code/pinoc.py /opt/pinoc-data
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=pinoc.service
